<p style="color: green"><%= notice %></p>

<%= render @client_workout %>

<div>
  <%= link_to "Edit this client workout", edit_client_workout_path(@client_workout) %> |
  <%= link_to "Back to client workouts", client_workouts_path %>

  <%= button_to "Destroy this client workout", @client_workout, method: :delete %>
</div>
